* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #72472e;
  border-top: 2px solid #72472e;
  flex-direction: column;
  width: 80%;
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container */
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 200%;
  position: relative;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  padding: 10px;
}

input[type=submit] {
  background-color: white;
  color: black;
  border: 2px solid #000000;
  padding: 16px 32px;
}

input[type=text],
[type=email] {
  padding: 10px;
}

input[type=submit]:hover {
  background-color: #000000;
  color: white;
}

